<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>yubang的博客</title>
    </head>
    <body>
        <h1 align="center">yubang的博客</h1>
        <hr>
        {% for temp in lists %}
        <div style="width:100%;text-align:center;">
            <h5>{{ temp.title }}</h5>
            <hr>
            <div>{{ temp.content }}</div>
        </div>
        {% endfor %}
        <hr>
        <p align="center">
            <small>基于webFrame框架编写</small>
        </p>
    </body>
</html>
